[Unit] 
Description=Malcolm, the discordrb Discord bot.
Requires=network.target

[Service] 
ExecStart= #Insert path here!
Restart=always
RestartSec=30
User= #Insert bot user here!

[Install]
WantedBy=multi-user.target
